/* Google Webfonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat|Oxygen);


/* Page Styles */
html {
    position: relative;
    margin-top: -1.5em;
    margin-left: 30%;
    background-color: transparent;
}
body {
    background: #fff;
    position: relative;
    text-align: left;
    margin-bottom: 3%;
    overflow-x: hidden;}

/* Link Styles */
a:link, a:visited {
    color: #2C327D; 
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;}
a:hover, a:active { 
    color: dodgerblue; 
    text-decoration: underline;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;}



/* Header and Footers */
h1:hover {
    position: relative;
    color: #ededed; /* #0a0a0a; */
    letter-spacing: 3px;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px 1.5px #2C327D;
}
h1 {
    color: #ededed;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    transition: 2s all ease;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px 1.5px #2C327D; /* rgba(0,0,0,0.004); */
}
h2 {
    position: relative;
    color: #000;
    letter-spacing: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 18pt;
    font-weight: normal;
}
h3 {
    position: relative;
    color: darkgray;
    font-family: 'Verdana', sans-serif;
    font-weight: normal;
    line-height: 18pt;
    font-size: 8pt;
}

